<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>

    <main>
      <section class="form-container">
        <h2><%= message; %></h2>

        <section class="already">
          <label>has account ? </label>
          <a href="/auth/login">Login</a>
        </section>

        <form action="/auth/signup" method="post">
          <label for="fullName">Name</label><br />
          <input id="fullName" type="text" name="fullName" /><br />
          <label for="username">Username</label><br />
          <input id="username" type="text" name="username" /><br />
          <label for="password">Password</label><br />
          <input id="password" type="password" name="password" /><br />
          <label for="email">Email</label><br />
          <input id="email" type="email" name="email" /><br />
          <input type="submit" value="submit" />
        </form>
      </section>
    </main>
  </body>
</html>

<style>
  body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img.freepik.com/photos-gratuite/agent-immobilier-modele-maison-cles_1150-17813.jpg?w=1380&t=st=1666391457~exp=1666392057~hmac=334205b3b8ed23aba1cfc91003ff2d15f91fc1248e91699923c07714561b2e47');
  }

  main {
    display: flex;
  }

  .form-container {
    align-self: center;
    background: rgba(255, 255, 255, 0.65);
    padding: 2rem 3rem;
    margin-left: 5%;
    border-radius: 1rem;
  }

  .already,
  h2 {
    text-align: center;
  }

  .already a {
    background: none;
    border: none;
    color: blue;
    font-size: 1.3rem;
  }
</style>
