<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = {
    includes: `../common/includes/`,
    components: `../common/components/`
}; %>
<html lang="en">
<%- include(PATHS.includes+'head') %>
<body>
<%- include(PATHS.includes+'header') %>
<main class="container text-center">
    <h1>
        <% message; %>
    </h1>
    <form method="post">
        <%- include(PATHS.components+'label-input', {label: 'street pattern',
        name: 'streetPattern', type: 'text', value: '*'}); %>

        <%- include(PATHS.components+'label-input', {label: 'city pattern',
        name: 'cityPattern', type: 'text', value: '*'}); %>

        <%- include(PATHS.components+'label-input', {label: 'code pattern',
        name: 'codePattern', type: 'text', value: '*'}); %>

        <input type="submit">
    </form>

</main>

<%- include(PATHS.includes+'footer') %>
</body>
</html>
