<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
  components: `../common/components/` } %>
<html lang="en">
<%- include(PATHS.includes+'head') %>
<body>
<%- include(PATHS.includes+'header') %>
<main class="container text-center">
  <h1>Portail Admin</h1>
  <div class="row">
    <div class="col-4 center green m-4">
      <h1>Offres</h1>
      <%- include(PATHS.components+'Button/Button', {href: `offer`, label:
      `Voir la liste des offres`}) %> <%-
      include(PATHS.components+'Button/Button', {href: `offer/create`,
      label: `Créer une nouvelle offre`}) %>
    </div>
    <div class="col-4 center green m-4">
      <h1>Garanties</h1>
      <%- include(PATHS.components+'Button/Button', {href: `guarantee`,
      label: `Voir la liste des garanties`}) %> <%-
      include(PATHS.components+'Button/Button', {href: `guarantee/create`,
      label: `Créer une nouvelle garantie`}) %>
    </div>
    <div class="col-4 center green m-4">
      <h1>Devis</h1>
      <%- include(PATHS.components+'Button/Button', {href: `front/list`,
      label: `Voir la liste des devis`}) %>
    </div>
    <div class="col-4 center green m-4">
      <h1>Zone non assurée</h1>
      <%- include(PATHS.components+'Button/Button', {href: `admin/uninsured-zone`,
      label: `Voir les zone non assurées`}) %>
    </div>
  </div>
</main>

<%- include(PATHS.includes+'footer') %>
</body>
</html>