<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = {
    includes: `../common/includes/`,
    components: `../common/components/`
}; %>
<html>
<%- include(PATHS.includes+'head') %>
<body>
<%- include(PATHS.includes+'header') %>

<main>
    <%- include(PATHS.components+'Button/Button', {href: `uninsured-zone/add`,
    label: `Ajouter une zone `}) %>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Street pattern</th>
            <th scope="col">City pattern</th>
            <th scope="col">CodePost pattern</th>
        </tr>
        </thead>
        <tbody>
        <% for (zone of zones) { %>
            <tr>

                <td class="card-title"><%= zone.streetPattern; %></td>
                <td class="card-title"><%= zone.cityPattern; %></td>
                <td class="card-title"><%= zone.codePattern; %></td>
            </tr>
        <% } %>

        </tbody>
    </table>
</main>
</body>
<%- include(PATHS.includes+'footer') %>
</html>
