<% const {items, name} = locals %>
<select class="form-select" name="<%= name%>" multiple required>
  <% items.forEach(function(e){ %>
  <option value="<%= e.value%>"><%= e.label%></option>
  <% }); %>
</select>
