<% const {title, ids, all, color, icon} = locals %> <% const percentage = (ids.length
/all.length) * 100 + "%"; %>

<a class="card contract-category " href="/contracts/some?ids=<%=ids.join(',')%>">
  <div class="card-body">
    <div class="d-flex justify-content-between px-md-1">
      <div>
        <h3 class="<%= color%>" ><%= ids.length; %></h3>
        <p class=" mb-0"><%= title; %></p>
      </div>
      <div class="align-self-center">
        <i class="<%= icon; %> <%= color%>"></i>
      </div>
    </div>
    <div class="px-md-1">
      <div class="progress mt-3 mb-1 rounded " style="height: 7px">
        <div
          class="progress-bar <%= color%>"
          role="progressbar"
          style="width: <%= percentage%>"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</a>

<style>
  .contract-category {
    cursor: pointer;
  }
</style>
