<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes: `../common/includes/`,
components: `../common/components/` }; %> <%# paths declarations %> <% const
{contracts} = locals; 
const { all, valid, toSigne, cancelled } = contracts
%>
<html lang="en">
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>
    <main class="container text-center">
      <section class="contract-container">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h5 class="text-uppercase">Contras</h5>
          </div>
        </div>
        <!-- rows -->
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <%- include('./Contract', {title: `Total`, ids: all, all, color: "text-primary" , icon : "fas fa-sync fa-3x" }) %>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <%- include('./Contract', {title: `En cours de validité`, ids: valid, all, icon : "fas fa-file-signature fa-3x", color: "text-success"}) %>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <%- include('./Contract', {title: `Annulés`, ids: cancelled, all, icon : "fas fa-ban fa-3x", color: "text-danger"}) %>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <%- include('./Contract', {title: `A signer`, ids: toSigne, all, icon : "fas fa-sync fa-3x", color: "text-secondary"}) %>
          </div>
        </div>
      </section>
    </main>

    <%- include(PATHS.includes+'footer') %>
  </body>
</html>

<style>
  .contract-container {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
</style>
