<% const BASE_URL = `/guarantee/` ;const CREATE_URL = BASE_URL+`create` %> <%
const {items, categories} = locals %>
<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'/head') %>
  <body>
    <%- include(PATHS.includes+'/header') %>
    <main class="gap-2 center">
      <h2>Ajouter une guarantee</h2>
      <form action="<%= CREATE_URL %>" method="post">
        <%- include(PATHS.components+'label-input', {label: 'Nom', name: 'name',
        type: 'string'}); %> <%- include(PATHS.components+'label-input', {label:
        'cost', name: 'cost', type: 'number'}); %><%-
        include(PATHS.components+'label-input', {label: 'coverage', name:
        'coverage', type: 'number'}); %>
        <%-include(PATHS.components+'Select/Select', { items:
        categories?.map((e)=>({value:e, label:e})), name: 'category'});%>
        <input type="submit" value="Create random guarantee" />
      </form>
    </main>
    <%- include(PATHS.includes+'footer') %>
  </body>
</html>
