<% const BASE_URL = `/guarantee/` ;const DELETE_URL = BASE_URL+`delete` %> <%
const {items} = locals %>
<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'/head') %>
  <body>
    <%- include(PATHS.includes+'/header') %>
    <main class="gap-2 center">
      <h2>guarantees disponibles :</h2>

      <%- include(PATHS.components+'/List/List', {elements :
      items.map(e=>({...e,title: e.name, href: {delete : DELETE_URL}}))}) %>
    </main>
    <%- include(PATHS.includes+'footer') %>
  </body>
</html>
