<label class="label-input">
  <div>
    <%= label %>
    <span class="req">*</span>
  </div>
  <input id="<%= name %>" name="<%= name %>" type="<%= type %>" required />
</label>

<style>
  .label-input {
    display: flex;
    flex-direction: column;
  }

  input {
    border: #00445f 1px solid;
    width: 100%;
  }
</style>
