<label class="radio-icon">
  <img src="<%= item.icon; %>" alt="icon" />
  <%= item.label; %>
  <input
    name="<%= item.name %>"
    type="radio"
    value="<%= item.value %>"
    required
  />
</label>
<style>
  .radio-icon {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 1.5rem;
    width: 20rem;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 0.5rem;
  }

  .radio-icon img {
    height: 4rem;
  }

  .radio-icon input {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
    text-align: left;
  }

  .radio-icon:has(input:checked) {
    box-shadow: rgba(0, 179, 255, 0.36) 0 2px 8px 0,
      rgba(0, 130, 255, 0.44) 0 0 0 3px;
  }

  .radio-icon:hover {
    box-shadow: rgba(0, 179, 255, 0.36) 0 2px 8px 0,
      rgba(0, 130, 255, 0.44) 0 0 0 3px;
  }
</style>
