<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
  <% items.forEach(function(item, index){ %>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= (index === 0) ? 'active' : ''%>"
      id="tab-<% item.id; %>"
      data-mdb-toggle="tab"
      href="#<%= item.id ;%>"
      role="tab"
      aria-controls="<%= item.id; %>"
      aria-selected="true"
      ><%= item.name; %></a
    >
  </li>
  <% }); %>
</ul>
