<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes: `common/includes/`,
components: `common/components/` }; %>
<html lang="en">
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>
    <main class="gap-5">
      <% if (isAdmin) { %>
      <section
        class="d-flex flex-column justify-content-center align-items-center gap-5"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/6995/6995756.png"
          alt="admin logo"
          height="200"
        />
        <h1>Portail Admin</h1>
        <a class="btn-go admin" href="/admin"> Go </a>
      </section>
      <% } %>

        <section
                class="d-flex flex-column justify-content-center align-items-center gap-5"
        >
          <img
                  src="https://cdn-icons-png.flaticon.com/512/3368/3368819.png"
                  alt="home logo"
                  height="200"
          />
          <h1>Dashboard (Contrats, devis, ...)</h1>
          <a class="btn-go" href="/front/dashboard"> Dashboard </a>
        </section>

      <section
        class="d-flex flex-column justify-content-center align-items-center gap-5"
      >
        <img
          src="https://new-axa-prod.s3.amazonaws.com/directassurance/8a4ea1a7-3e43-494c-9d85-35b6d0c1af25_picto+habitation.png"
          alt="home logo"
          height="200"
        />
        <h1>Devis Assurance habitation en ligne</h1>
        <a class="btn-go" href="/front/quote/new"> C'EST PARTI ! </a>
      </section>
      <a class="logout" href="/auth/logout">Logout</a>
    </main>

    <%- include(PATHS.includes+'footer') %>
  </body>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }

    input {
      width: 100%;
      padding: 0 10px;
      min-height: var(--input-height);
      min-width: var(--input-width);
      margin-bottom: var(--input-margin-bottom);
    }

    .logo {
      height: 60px;
    }
    .logout {
      text-decoration: none;
      padding: 5px;
      background: orange;
      border-radius: 5rem;
      color: white;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .form-container {
      border-radius: 10px;
      padding: 3rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .btn-go {
      text-decoration: none;
      padding: 1rem 5rem;
      background: red;
      border-radius: 5rem;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
    }

    .admin {
      background-color: rgb(0, 255, 0);
    }

    .btn-go:hover {
      color: red;
      background: white;
      box-shadow: red 0 1px 4px, red 0 0 0 3px;
    }

    .admin:hover {
      color: rgb(0, 255, 0);
      background: rgb(255, 255, 255);
      box-shadow: rgb(0, 255, 0) 0 1px 4px, rgb(0, 255, 0) 0 0 0 3px;
    }
  </style>
</html>
