<footer>
  <h3>poca 2022</h3>
  <img
    class="logo"
    alt="u-paris logo"
    src="https://u-paris.fr/sciences/wp-content/uploads/sites/21/2022/03/Univercite-Paris-Cite_Faculte_Sciences.png"
  />
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: white;
    background: #585858;
    margin-top: auto;
  }
  .logo {
    height: 60px;
  }
</style>
