<%# paths declarations %> <% const PATHS = { includes : `../includes/`,
components: `../components/` } %>

<header class="navbar">
  <a class="navbar-brand d-flex align-items-center" href="/front">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5477/5477161.png   "
      alt="logo"
      width="40"
      height="40"
    />
    <h1>Poca-Hontas Insurance</h1>
  </a>
</header>

<style>
  header a {
    margin-left: 1rem;
  }

  header h1 {
    margin-left: 0.8rem;
    font-size: 2rem;
  }
  header {
    padding: 10px;
    box-shadow: var(--header-shadow);
  }
</style>
