<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏚️</text></svg>"
  />
  <title>Poca-Hontas Insurance</title>
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
  />

  <!-- Font Awesome -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  <!-- MDB -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
    rel="stylesheet"
  />

  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
  ></script>
</head>

<style>
  :root {
    --header-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    --input-height: 2.5rem;
    --input-width: 25rem;
    --input-margin-bottom: 2rem;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 25rem;
  }

  input:focus {
    outline-color: #00b3ff;
  }

  main {
    padding: 1.5rem;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  .req {
    color: red;
  }

  input:invalid {
    outline-color: #ff0101;
  }

  /* more styling */
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .center-x {
    display: flex;
    justify-content: center;
  }

  .center-y {
    display: flex;
    align-items: center;
  }

  .red {
    border: 2px solid red;
  }
  .green {
    border: 2px solid green;
  }
  .blue {
    border: 2px solid blue;
  }
</style>
