<% const {href, label} = locals %>

<a class="myButton center" href="<%= href %>"><%= label %></a>

<style>
  .myButton {
    display: flex;
    text-decoration: none;
    padding: 1rem 1rem;
    background: green;
    border-radius: 5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
  }

  .myButton:hover {
    color: green;
    background: white;
    box-shadow: green 0 1px 4px, green 0 0 0 3px;
  }
</style>
