<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between px-md-1">
            <div>
                <h3 class="text-danger"><%= value %></h3>
                <p class="mb-0"><%= label %></p>
            </div>
            <div class="align-self-center">
                <i class="fas fa-map-signs text-danger fa-3x"></i>
            </div>
        </div>
        <div class="px-md-1">
            <div class="progress mt-3 mb-1 rounded" style="height: 7px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>