<% const BASE_URL = `/offer/` ;const CREATE_URL = BASE_URL+`create` %> <% const
{guarantees} = locals %>
<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'/head') %>
  <body>
    <%- include(PATHS.includes+'/header') %>
    <main class="gap-2 center">
      <h2>Ajouter une offre</h2>
      <form action="<%= CREATE_URL %>" method="post">
        <%- include(PATHS.components+'label-input', {label: 'Nom', name: 'name',
        type: 'string'}); %>
        <%-include(PATHS.components+'SelectMultiple/SelectMultiple',{items:
        guarantees?.map((e)=>({value:e.id, label:e.name})), name:
        `guaranteesIds[]` }); %>
        <input class="create-quote" type="submit" value="Create random offer" />
      </form>
    </main>
    <%- include(PATHS.includes+'footer') %>
  </body>
</html>
