<% const BASE_URL = `/offer/` ;const DELETE_URL = BASE_URL+`delete` %> <% const
{items} = locals %>
<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'/head') %>
  <body>
    <%- include(PATHS.includes+'/header') %>
    <main class="gap-2 center">
      <h2>Offres disponibles :</h2>

      <%- include(PATHS.components+'/List/List', {elements :
      items.map(e=>({...e,title: e.name,
      subtitle:e.guarantees?.map(e=>e.name).join(' | '), href: {delete :
      DELETE_URL}}))}) %>
    </main>
    <%- include(PATHS.includes+'footer') %>
  </body>
</html>
