<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html>
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>

    <main>
      <ul class="d-flex flex-wrap gap-3">
        <% for (offer of offers) { %>
        <div class="card d-flex flex-row">
          <div class="card-body">
            <h5 class="card-title"><%= offer.name; %></h5>
            <% for (guarantee of offer.guarantees) { %>
              <h6 class="card-subtitle mb-2 text-muted">
                <%= guarantee.name; %>
              </h6>
            <% } %>
            <br>
            <br>
            <h6 class="card-title">Prix : <%= prices[offer.id] %></h6>
            <form action="/offer/choose" method="post">
              <input name="offerId" hidden value="<%= offer.id; %>" />
              <input name="quoteId" hidden value="<%= quoteId %>" /><br />
              <input name="price" hidden value="<%= prices[offer.id] %>" /><br />
              <input type="submit" value="Selectionner" />
            </form>
          </div>
        </div>
        <% } %>
      </ul>
    </main>
  </body>
  <%- include(PATHS.includes+'footer') %>
</html>

<style>
  .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
    width: 30rem;
  }
</style>
