<% const {items, name} = locals %>
<select
  class="form-select"
  name="<%= name%>"
  required
>
  <% items.forEach(function(e){ %>
  <option value="<%= e.value%>" selected><%= e.label%></option>
  <% }); %>
</select>
