<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html lang="en">
  <%- include(PATHS.includes+'/head') %>
  <body>
    <%- include(PATHS.includes+'/header') %>
    <main class="gap-2">
      <% const items = [{id: 'logement-form', name: 'Logement'}, {id:
      'occupant-form', name: 'Occupant'}]%> <%-
      include(PATHS.components+'tabs-nav', {items}) %>
      <form action="/front/quote/new" method="post">
        <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="logement-form"
            role="tabpanel"
            aria-labelledby="tab-logement-form"
          >
            <%- include('logement-form') %>
          </div>
          <div
            class="tab-pane fade"
            id="occupant-form"
            role="tabpanel"
            aria-labelledby="tab-occupant-form"
          >
            <%- include('occupant-form') %>
          </div>
        </div>
      </form>
    </main>
    <%- include(PATHS.includes+'footer') %>
  </body>

  <style>
    h4 {
      font-size: 1rem;
      font-weight: normal;
      margin: 1rem 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</html>
