<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html>
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>

    <main>
      <ul class="d-flex flex-wrap gap-3">
        <% for (quote of quotes) { %>
        <div class="card d-flex flex-row">
          <div class="card-body">
            <h5 class="card-title"><%= quote.logementType; %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= quote.residenceType; %>
            </h6>
            <p class="card-text"><%= quote.address; %></p>
          </div>
          <div class="m-2 d-flex flex-column justify-content-center gap-4">
            <form method="get" action="/front/quote/delete/<%= quote.id%>">
              <button type="submit" class="btn btn-danger btn-floating">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>

            <button type="button" class="btn btn-primary btn-floating">
              <i class="fas fa-marker"></i>
            </button>
          </div>
        </div>
        <% } %>
      </ul>
    </main>
  </body>
  <%- include(PATHS.includes+'footer') %>
</html>

<style>
  .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
    width: 30rem;
  }
</style>
