<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<div>
  <div>
    <h3>Vous souhaitez assurer...</h3>
    <ul class="d-flex gap-4">
      <% logementTypes.forEach(function(item){ %> <%-
      include(PATHS.components+'radio-icon', {item}); %> <% }); %>
    </ul>
  </div>

  <div>
    <h3>C'est</h3>
    <ul class="d-flex gap-4">
      <% residenceTypes.forEach(function(item){ %> <%-
      include(PATHS.components+'radio-icon', {item}); %> <% }); %>
    </ul>
  </div>

  <div>
    <h3>Parlez-moi de votre logement...</h3>
    <%- include(PATHS.components+'label-input', {label: 'Surface', name: 'area',
    type: 'number'}); %> <%- include(PATHS.components+'label-input', {label:
    'Nombre de pièces', name: 'mainParts', type: 'number'}); %>
  </div>

  <div>
    <H3>Et où se trouve votre logement ?</H3>
    <%- include(PATHS.components+'label-input', {label: 'Numéro et nom de rue',
    name: 'street', type: 'text'}); %>
    <%- include(PATHS.components+'label-input', {label: 'code postal', name: 'code',
    type: 'number'}); %> <%- include(PATHS.components+'label-input', {label:
    'Comunne', name: 'city', type: 'text'}); %>
  </div>
</div>


<script>
  const API_ADRESSE_URL = 'https://api-adresse.data.gouv.fr/search';

  const adresse = document.getElementById('street');
  const zipCode = document.getElementById('code');
  const city = document.getElementById('city');

  async function getAutoComplete(pattern) {
    const response = await fetch(`${API_ADRESSE_URL}/?q=${pattern}`);
    const json = await response.json();
    return json.features.map((value) => value.properties);
  }

  function autocomplete(inp) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    let currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener('input', function (e) {
      let a, b;
      closeAllLists();
      const val = this.value;
      if (val.length < 3) return;
      currentFocus = -1;

      /*create a DIV element that will contain the items (values):*/
      a = document.createElement('DIV');
      a.setAttribute('id', this.id + 'autocomplete-list');
      a.setAttribute('class', 'autocomplete-items');
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);

      getAutoComplete(val).then((arr) => {
        for (const item of arr) {
          b = document.createElement('DIV');
          b.setAttribute('class', 'auto-item')
          b.innerHTML = '<strong>' + item.label.substr(0, val.length) + '</strong>';
          b.innerHTML += item.label.substr(val.length);
          b.innerHTML += `<input type='hidden' value="${item.name}"/>`;
          b.innerHTML += `<input type='hidden' value="${item.postcode}"/>`;
          b.innerHTML += `<input type='hidden' value="${item.city}"/>`;
          b.addEventListener('click', function (e) {
            inp.value = this.getElementsByTagName('input')[0].value;
            zipCode.value = this.getElementsByTagName('input')[1].value;
            city.value = this.getElementsByTagName('input')[2].value;

            closeAllLists();
          });
          a.appendChild(b);
        }
      });
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener('keydown', function (e) {
      let x = document.getElementById(this.id + 'autocomplete-list');
      if (x) x = x.getElementsByTagName('div');
      if (e.keyCode === 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode === 38) {
        //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode === 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });

    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = x.length - 1;
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add('autocomplete-active');
    }

    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (const element of x) {
        element.classList.remove('autocomplete-active');
      }
    }

    function closeAllLists(item) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      let x = document.getElementsByClassName('autocomplete-items');
      for (const element of x) {
        if (item !== element && item !== inp) {
          element.parentNode.removeChild(element);
        }
      }
    }

    /*execute a function when someone clicks in the document:*/
    document.addEventListener('click', function (e) {
      closeAllLists(e.target);
    });
  }
  autocomplete(adresse)
</script>

<style>

  .autocomplete-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }

  .auto-item {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }

  .auto-item:hover {
    cursor: pointer;
    box-shadow: rgba(0, 179, 255, 0.04) 0 6px 24px 0, rgba(0, 179, 255, 0.45) 0 0 0 2px;
  }
</style>