<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<div class="">
  <div>
    <h3>Je suis...</h3>
    <ul class="d-flex gap-4">
      <% occupantTypes.forEach(function(item){ %> <%-
      include(PATHS.components+'radio-icon', {item}); %> <% }); %>
    </ul>
  </div>
  <div>
    <h3>Votre demande concerne ?</h3>
    <ul class="d-flex gap-4">
      <% isLivingOnResidence.forEach(function(item){ %> <%-
      include(PATHS.components+'radio-icon', {item}); %> <% }); %>
    </ul>
  </div>
  <div>
    <h3>Je suis...</h3>
    <ul class="d-flex gap-4">
      <% isStudent.forEach(function(item){ %> 
        <%-include(PATHS.components+'radio-icon2', {item}); %> 
      <% }); %>
    </ul>
  </div>
  <div>
    <h3>
      Combien de personnes, y compris vous, vont vivre de façon permanente dans
      le logement ?
    </h3>
    <%- include(PATHS.components+'label-input', {label: 'Nombres de personnes',
    name: 'livingPersons', type: 'number'}); %>
  </div>
  <input class="create-quote" type="submit" value="next" />
</div>
