<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html>
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>

    <main>
      <h2>🧍 Assuré</h2>
      <div><b>Monsieur:</b> <%= contract.client?.id %></div>
      <div><b>type:</b> <%= contract.quote?.occupant?.type %></div>
      <div><b>isStudent:</b> <%= contract.quote?.occupant?.isStudent %></div>
      <div>
        <b>livingPersons:</b> <%= contract.quote?.occupant?.livingPersons %>
      </div>

      <br />

      <h2>📰 Contract</h2>
      <b>number:</b> <%= contract.num %>
      <div>
        <b>Start Date:</b> <%=
        `${contract.start_date.getFullYear()}-${contract.start_date.getMonth() + 1}-${contract.start_date.getDate()}`
        %>
      </div>
      <div>
        <b>End Date:</b> <%=
        `${contract.end_date.getFullYear()}-${contract.end_date.getMonth() + 1}-${contract.end_date.getDate()}`
        %>
      </div>

      <% if(contract.signed_at){ %>
      <div>
        <b>Signature Date:</b> <%=
        `${contract.signed_at.getFullYear()}-${contract.signed_at.getMonth() + 1}-${contract.signed_at.getDate()}`
        %>
      </div>
      <% } else{ %>
      <form action="/contracts/sign/<%= contract.id %>" method="post">
        <button type="submit">Sign Contract</button>
      </form>
      <% } %> <% if(contract.cancelled_at){ %>
      <div>
        <b>Contract has been cancelled at:</b> <%=
        `${contract.cancelled_at.getFullYear()}-${contract.cancelled_at.getMonth() + 1}-${contract.cancelled_at.getDate()}`
        %>
      </div>
      <% } else if (contract.signed_at){ %>
      <form action="/contracts/cancel/<%= contract.id %>" method="post">
        <button type="submit">
          <% if (refundable) { %> Se retracter (Annuler le contrat) <% } else {
          %> Résilier le contrat <% }%>
        </button>
      </form>
      <% } %>
      <br />

      <div>
        <% if(contract.cancelled_at){ if(contract.auto_renewal){ %>
        <div><b>Auto renewal activated</b></div>
        <% } else{ %>
        <div>
          <b>Auto renewal desactivated</b>
          <form action="/contracts/renewal/<%= contract.id %>" method="post">
            <button type="submit">Renewal contract</button>
          </form>
        </div>
        <% }} %>
      </div>
      <div>
        <button onclick="window.print()">Print Attestation</button>
      </div>
      <br />
      <div>
        <button>View offer details</button>
      </div>
    </main>
  </body>
  <%- include(PATHS.includes+'footer') %>
</html>
