<!DOCTYPE html>
<%# paths declarations %> <% const PATHS = { includes : `../common/includes/`,
components: `../common/components/` } %>
<html>
  <%- include(PATHS.includes+'head') %>
  <body>
    <%- include(PATHS.includes+'header') %>

    <main>
      <h1>List of contracts</h1>
      <ul>
        <% for (contract of contracts) { %>
        <li>
          <h2>
            <a href="/contracts/<%= contract.id %>"> <%= contract.uuid %> </a>
          </h2>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
  <%- include(PATHS.includes+'footer') %>
</html>
